<h3>Create Item</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="item.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Amount</label>
      <input type="number" class="form-control" id="amount" required [(ngModel)]="item.amount" name="amount">
    </div>

    <div class="form-group">
      <label for="name">Inventory Code</label>
      <input type="text" class="form-control" id="inventoryCode" required [(ngModel)]="item.inventoryCode" name="inventoryCode">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>